<h3>Saranda Riviera Tour Booking Confirmed</h3>

<p>Hey {{ name }},</p>
<p>Thanks for choosing us. Here are your booking details.</p>

<br>

<P>Booking Details</P>
<div><strong>Name</strong>         {{ name }}</div>
<div><strong>Date</strong>         {{ day }} {{ month }}</div>  
<div><strong>Group of</strong> of  {{ seats }}</div>
<div><strong>Adults</strong>       {{ adults}}</div>
<div><strong>Children</strong>     {{ children }}</div>
<div><strong>Price</strong>        {{ price }}pp</div>


<p>We look forward to seeing you there!</p>
<br>
<p>Best Regards,</p>
<p>Saranda Riviera Tours</p>